
<h4>Add an word that you want to know the meaning of:</h4>

<form action="/" method="post">
  <div class="form-group">
    <label for="words">Name</label>
    <input id="words" name="words" class="form-control" type="text">
    <label for="definition">Rank</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>

<h2>Words I want to learn!</h2>
<div class="form-group">
  <div class="row">
    <div class="col-sm-6">
      <div class="list">
        <% @list.each do |word| %>
          <h4><a href="/word/<%= word.id %>"><%= word.words %></a></h4>
        <% end %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="list">
        <% @list.each do |word| %>
          <h4><a href="/word/<%= word.id %>"><%= word.definition %></a></h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
